.product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
  
  .card {
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    background-color: #f8bbd0;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .ProdPrice{
    color: black;
  }

  .ProdName{
    color: black;
  }