.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 2rem;
  background-color: #f8bbd0;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.header-left {
  display: flex;
  gap: 1rem; /* Space between icons */
}

.icon {
  padding: 5px;
  font-size: 2.5rem; /* Increase icon size */
}

.header-center {
  flex-grow: 1; /* Take available space to center-align */
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.header-center span {
  font-style: italic;
  font-weight: 100;
  font-size: x-large;
}

.header-right {
  display: flex;
  justify-content: flex-end; 
}

.header-right .search-bar {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 60px;
  width: 300px; 
  font-size: 1rem; 
}
