.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8bbd0;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  
  .header-left {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    display: flex;
  }

  .icon{
    padding: 5px;
  }
  
  .header-center {
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 110px;
  }
  
  .header-right .search-bar {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 60px;
  }

  span{
    font-style: italic;
    font-weight: 100;
    font-size: x-large;
  }